{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Loading your playlist</title>
    <style>
        .display-mid {
            height: 96vh;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        
        strong {
            color: dodgerblue;
        }
    </style>

</head>

<body>
    <div class="display-mid">
        <div>
            <img src="{% static 'assets/img/sound.gif' %}">
        </div>
        <div>
            <h1> System has detected that your mood is <strong>"{{ label }}"</strong> <br> Redirecting to Custom playlist according to your mood</p>
                <h1>
        </div>
    </div>

     {% if label == 'Angry' %}
    <script>
        setTimeout(function() {
            window.location.href = "https://open.spotify.com/playlist/37i9dQZF1DX3ND264N08pv";
        }, 5000);
    </script>

    {% endif %} {% if label == "Sad" %}
    <script>
        setTimeout(function() {
            window.location.href = "https://open.spotify.com/playlist/5I9As02pKBVN1kONkCX71l";
        }, 5000);
    </script>

    {% endif %} {% if label == "Happy" %}
    <script>
        setTimeout(function() {
            window.location.href = "https://open.spotify.com/playlist/6pfOWoznf6TlqELmkVUuJ1";
        }, 5000);
    </script>

    {% endif %} {% if label == "Surprise" %}
    <script>
        setTimeout(function() {
            window.location.href = "https://open.spotify.com/playlist/37i9dQZF1DX9XIFQuFvzM4";
        }, 5000);
    </script>

    {% endif %} {% if label == "Neutral" %}
    <script>
        setTimeout(function() {
            window.location.href = "https://open.spotify.com/playlist/0dsl5hbFdVT7scb7Vakkwa";
        }, 5000);
    </script>

    {% endif %}
</body>

</html>